/*----------------------- General Styles --------------------------*/
html{
    font-size: 15px;
}
body {
background-color: #090b1a;
color: white;
font-family: 'Lexend Deca', sans-serif;
font-size: 1rem;
margin: 0 auto;
}
.container {
    background-color: #1b1938;
    margin: 0 auto;

}
.insights {
    color:#aa5cdb;
}

.stats {
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
    font-family: 'Lexend Deca', sans-serif;
}
.stat-heading {
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-size: .85rem;
}
h1 {
    font-size: 2rem;
}

p {
    font-family: 'Inter', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 1rem;
}

.header-image {
    background: linear-gradient(to right, rgba(170, 91, 219, 0.5), rgba(170, 91, 219,.5)), url("../img/image-header-mobile.jpg") no-repeat;
    filter: contrast(150%);
} 


.attribution {
     font-size: 1em;
    text-align: center; 
    }
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
/*----------------------- Mobile Styles --------------------------*/
body {
    width: 375px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 350px;
    border-radius: 10px;
}
.header-image {
    background-size: cover;
    width: 350px;
    height: 256px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
h1 {
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    
}
p {
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 1.75rem;
}

.stat-section {
    justify-content: center;
    align-items: center;
    padding-top: 0;
}
.stats {
justify-content: center;
padding: 7px;
}
 .stat-heading {
     padding: 10px;
     letter-spacing: 1.5px;
 }